@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

div.chart {
  border-radius: 10px;
  border-style: solid;
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: flex; /*added*/
  flex-direction: column; /*added*/
  margin-left: 20px;
  margin-right: 20px;
}

div.topChart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px;
}

#myChart {
  position: relative;
  display: flex;
  margin: 10px 0px 20px;
}

.chartTitle {
  font-family: "Roboto", sans-serif;
}

h3 img.logo {
  width: 40px;
  margin-left: 5px;
}

.coinlogo {
  margin-left: 5px;
}

#filters {
  width: 15%;
  height: 5vh;
}

#filters button {
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(255, 0, 0, 0.08);
  font-size: 12px;
  color: black;
  background-color: transparent;
}

#filters button:hover {
  font-size: 14px;
  box-shadow: 0 5px 20px rgba(245, 179, 193, 0.5);
}
