div.card {
  border: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 10px 0px 20px; */
  height: 290px;
}

div.card-body#feat-card {
  flex: 1;
  margin: 10px 20px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

#news {
  font-size: 12px;
}

.pull-right {
  display: none;
}

#embeded-tweet {
  height: 165px;
  position: relative;
  overflow: scroll;
}

#chartfav {
  justify-content: space-between;
  display: flex; /*added*/
  flex-direction: column; /*added*/
}
