@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

@media screen and (max-width: 850px) {
}

#topbar {
  background-color: #568c60 !important;
  position: sticky;
  top: 0%;
  z-index: 1000;
}

#title {
  color: #ffffff;
  background: #f7c1c1;
  /* text-shadow: 4px 3px 0px #7a7a7a; */
  color: #ffffff;
  background: #568c60;
  margin-left: 10px;
  font-family: "Playfair Display", serif;
}

#pagelogo {
  border-radius: 100%;
  width: 5%;
  cursor: zoom-in;
}

#pagelogo:hover {
  width: 50%;
  position: absolute;
  z-index: 1050;
}
