@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

th,
h3.chartTitle {
  font-family: "Playfair Display", serif;
}

#footer {
  color: #ffffff;
  background: #f7c1c1;
  /* text-shadow: 4px 3px 0px #7a7a7a; */
  color: #ffffff;
  background: #568c60;
  position: relative;
  width: 100%;
}
