<div class="card">
  <div id='feat-card' class="card-body">
    <h5 class="card-title">Trending News</h5>
    <embeded id='news' class="cryptohopper-web-widget" data-id="5" data-news_count="1"></embeded>
  </div>
</div>
<div class="card">
  <div id='feat-card' class="card-body">
    <h5 class="card-title">Trending Coins</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
<div class="card">
  <div id='feat-card' class="card-body">
    <h5 class="card-title">Trending post</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>